#header{
    display: inline-block;
    background-color: blueviolet;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    font-size: 20px;
}
#logo{
    color: white;
    float: left;
}
#menu{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    float: right;
}
li{
    float: left;
    color: white;
    margin-right: 15px;
}

@media screen and (max-width: 400px){
    #header{
        background-color: gray;
    }
    #logo{
        float: none;
        text-align: center;
    }
    #menu{
        margin-top: 20px;
        float: none;
        text-align: center;
    }
    li{
        margin-right: 0%;
        float: none;
        padding: 10px;
        margin-bottom: 10px;
    }
}