h2 {
    margin-top: 100px;
}

#cor {
    color: red;
}

#align-right {
    text-align: right;
}

#align-center {
    text-align: center;
}

#align-justify {
    text-align: justify;
    width: 300px;
}

#lowercase {
    text-transform: lowercase;
}

#uppercase {
    text-transform: uppercase;
}

#capitalize {
    text-transform: capitalize;
}

#indent {
    width: 400px;
    text-indent: 35px;
}

#underline {
    text-decoration: underline;
}

#overline {
    text-decoration: overline;
}

#line-through {
    text-decoration: line-through;
}

#none {
    text-decoration: none;
    color: black;
}

#letter-spacing {
    letter-spacing: 1.2px;
}

#word-spacing {
    word-spacing: 10px;
}

#line-height {
    text-align: justify;
    line-height: 2;
    width: 300px;
}

#text-shadow {
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}